.form-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container section .form {
    width: 100%;
    max-width: 350px;

}
.form-container .logo{
    height: 150px ;
    width: 150px;
}
.form-container section.form form {
    margin-top: 100px;
}

.form-container section.form form h1 {

    font-size: 32px;
    margin-bottom: 32px;
}

.back-link{
    display: flex;
    align-items: center;
    color: #41414d;
    margin-top: 40px;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 0.2s;
}

.button {
    width: 100%;
    height: 60px;
    background: #007bff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;

}

.button:hover {
    filter: brightness(90%);
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    padding-right: 50px;
    margin-left: 15px;
}

form textarea {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-left: 15px;

}